<div class="contact-section">
    <div class="contact-border">
        <sly data-sly-use.helper="au.edu.sydney.contacts.core.models.ContactComponent"></sly>

        <div data-sly-test="${helper.contact.message}" class="alert alert-danger">
            <h1>Warning: ${contant.contact.message}</h1>

            <h2 data-sly-test="${helper.contact.message == 'null'}">Edit this component to select a contact.</h2>

            <h2 data-sly-test="${helper.contact.message == 'notpage'}">Invalid contact selected, edit this component to
                select a valid contact.</h2>
        </div>


        <sly class="alert alert-danger" data-sly-test="${!contact.contact.message}">

            <h1><span data-sly-test="${helper.contact.title}">${helper.contact.title}</span> ${helper.contact.name}
            </h1>

            <h2><span data-sly-test="${helper.contact.position}">${helper.contact.position},</span>
                ${helper.contact.department}</h2>

            <h3 data-sly-test="${helper.contact.phone}">Phone</h3>
            <p data-sly-test="${helper.contact.phone}"></p>
            <ul data-sly-list.child="${helper.contact.phone}">
                <li>${child}</li>
            </ul>

            <h3 data-sly-test="${helper.contact.email}">Email</h3>
            <p data-sly-test="${helper.contact.email}"></p>
            <ul data-sly-list.child="${helper.contact.email}">
                <li>${child}</li>
            </ul>

        </sly>
    </div>
</div>