.contact-section {
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
}

.contact-border {
    border: 1px solid #3c3c3c;
    padding: 20px;
}

.contact-section h1{
    font-size: 20px;
}

.contact-section h2{
    font-size: 18px;
}

.contact-section h3{
    font-size: 14px;
}

.contact-section ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-section li{
    /*list-style-type: none;*/
}

@media all and (max-width: 900px)  {
    .contact-section {
        font-size: 12px !important;
        padding: 10px !important;
    }

    .contact-border {
        padding: 5px !important;
    }

    .contact-section h1{
        font-size: 18px !important;
    }

    .contact-section h2{
        font-size: 16px !important;
    }

    .contact-section h3{
        font-size: 12px !important;
    }

}